.terms-of-service {
    padding: 40px;
    width: 960px;
    margin: 0 auto;
    text-align: justify;
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 28px;
        margin-top: 20px;
        border-bottom: 3px solid #484848;
        margin-bottom: 12px;
    }

    h3 {
        font-size: 19px;
        margin-top: 20px;
        border-bottom: 3px solid #484848;
        margin-bottom: 12px;
    }

    p {
        line-height: 25px;
        margin-top: 15px;
    }

    li {
        list-style: disc;
        margin-left: 20px;
        margin-top: 15px;
    }
}
