.quiz {
	display: grid;
	grid-template-rows: 100px auto;
	grid-template-areas: 
	"question question"
	"code options";
	grid-template-areas: 1fr 1fr;
	// margin: 20px;
}

.code {
	grid-area: code;
	align-self: center;
}

.options {
	grid-area: options;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: 10px;
}

.question {
	grid-area: question;
    font-size: 24px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.option {
	margin-bottom: 10px;
	padding: 20px;
	cursor: pointer;
	background: #eee;
	font-size: 24px;
}

.correct {
	background: #0b940b
}

.incorrect {
	background: rgb(150, 22, 22)
}