{
	"env": {
		"test": {
			"presets": ["@babel/env"],
			"plugins": ["dynamic-import-node"]
		},
		"development": {
			"presets": [["@babel/env", { "modules": false }]]
		},
		"production": {
			"presets": [["@babel/env", { "modules": false }]]
		}
	},
	"presets": ["@babel/react"],
	"plugins": [
		["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
		"@babel/plugin-syntax-dynamic-import",
		"@babel/proposal-optional-chaining",
		"@babel/transform-runtime", 
		"@babel/transform-react-jsx",
		//["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": false }]
	]
}