.notifizer-parent {
	position: fixed;
	z-index: 100000;
    bottom: 20px;
    left: 10px;
    padding: 10px 30px;
	background: #e83e3e;
	max-width: 400px;
    line-height: 23px;
	color: #ffffff;    
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	h2 {
		font-size: 35px;
		margin: 10px 0px;
	}
}

.icon {
	font-size: 20px;
}

.iconVariant {
	margin-right: 10px;
}

.message {
    display: flex;
    align-items: center;
}

.success {
    background-color:#43a047!important;
}
.error {
	background-color: #d32f2f!important;
}
.info {
	background-color: #1976d2!important;
}
.warning {
	background-color: #ffa000!important;
}