.main-navbar {
	display: flex;
	width: 1176px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff5e;
	border-bottom: 1px solid #eee;
	font-weight: 500;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	height: 50px;
	margin-right: 10px;
}

.logo .text {
	font-size: 20px;
	font-weight: bold;
}



.navbar-left {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
}

.image-text-pair {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	div.textDiv {
		margin-left: 8px;
		font-weight: bold;
		color: #e74947;
		letter-spacing: 1px;
	}
}

.item {
	transition: all 0.25s;

	margin-left: 20px;
	margin-right: 20px;
}

.item:hover {
	color: #e83f3f;
}

.navbar-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.signup-button {
	width: 167px;
	text-align: center;

	padding-top: 8px;
	padding-bottom: 8px;

	border: 2px solid #e83f3f;
	border-radius: 23.5px;
	color: #e83f3f;
}

.signup-button:hover {
	color: white;
	background-color: #e83f3f;
}