$gridelems: comments-parent date-of-publish comment-count social-icons add-comment avatar textbox comments comment main-comment author-name author-pic content votes upvote downvote;

@each $elem in $gridelems {
	.#{$elem} {
		grid-area: $elem
	}
}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.comments-parent {
	border-top: 1px solid #eee;
	margin-bottom: 20px;
}

.n60 {
	width: 960px;
	margin: 0 auto;
}

.add-comment {
    grid-area: add-comment;
    display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.textbox textarea {
    width: 100%;
    height: 40px;
    border-radius: 4px 4px 0 0;
	border: 2px solid #dbdfe4;
	transition: 0.4s ease-in-out all;
    font-size: 16px;
	font-family: inherit;
	outline: 0;
	padding: 10px;
	&:focus {
		height: 100px;
	}
	&:focus+.textbox-footer {
		height: 48px;
		opacity: 1;
	}
}

.textbox {
    flex-grow: 1;
	margin-left: 25px;
	display: flex;
    flex-direction: column;
    /* outline: 0; */
    /* border-radius: 10px; */
    /* border: 1px solid black; */
}

.textbox-footer {
	background: #f6f8f9;
    display: flex;
	transition: 0.4s ease-in-out all;
    justify-content: flex-end;
	align-items: stretch;
	height: 0;
	overflow: hidden;
}

.other-buttons {
	flex-grow: 1;
	border: 2px solid #dbdfe4;
	border-top: 0;
	border-radius: 0 0 0 4px;
	border-right: 0
}

.submit-comment {
	padding: 15px;
    color: white;
    background: #737f86;
    border-radius: 0 0 4px 0;
    cursor: pointer;
    z-index: 100000;
    position: relative;
}

.comment {
	margin-bottom: 30px;
}

.comment-count {
	font-weight: bold;
	display: inline-block;
    border-bottom: 2px solid #288ce4;
    color: #2a2e2e;
    padding: 12px 0;
}

.author-pic {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.date-of-publish {
	font-size: 12px;
	color: grey;
	font-style: italic;
	margin-bottom: 12px;
}

.main-comment {
    display: grid;
	grid-template-areas: "author-pic author-name" 
						"author-pic date-of-publish"
						"author-pic content"
						"author-pic votes";
    grid-template-rows: 1fr;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 25px;
    margin-top: 20px;
}

.author-name {
    grid-area: author-name;
    font-weight: bold;
	padding-bottom: 2px;
	font-size: 20px;
}

.votes {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    width: 150px;
    justify-content: space-between;
    color: grey;
}

.votes div {
	cursor: pointer;
}