.splash {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    width: 900px;
    margin: 0 auto;
}

.boxes {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.box {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    max-width: 250px;
    margin-right: 20px;
    text-align: center;
    flex-direction: column;

    svg {
        display: block;
        margin: 20px auto;
        font-size: 50px;
        height: 50px;
    }
}

.graph h1 {
	margin-left: 30px
}

.tagline {
    text-align: center;
    h1 {
        font-size: 56px;
    }
}


@media only screen and (max-width: 900px) {
    .tagline {
        font-size: 18px;
    }
}

.startnow {
    border-radius: 35.5px;
    background-color: #e83f3f;

    padding: 21px 94px 21px 94px;
    margin-top: 60px;

    text-shadow: 0 2px 14px rgba(0, 0, 0, 0.13);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    cursor: pointer;
}

.learn-compete {
    display: flex;    
    align-items: stretch;
    justify-content: space-around;
	margin: 100px auto;
	max-width: 1024px;
    text-align: center;
    font-weight: 100;
	line-height: 40px;
	
    .learn-box {
        flex: 1;
		text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
		flex-direction: column;
    }

    .compete-box {
        flex: 1;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    .learn-compete {
        display: flex;    
        justify-content: flex-start;
        flex-direction: column;

        margin-bottom: 60px;

        h1 {
            font-weight: 100;
        }

        > .learn-box {
            padding: 20px;

            width: 100%;
        }
    
        > .compete-box {
            padding: 20px;

            width: 100%;
            align-items: center;
        }
    }
}

.learn-iconset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

/* ICON BOX COMPONENT STYLES */

.icon-box {
    display: flex;
    justify-content: center;
	align-items: center;
    align-content: flex-start;
    flex-direction: column;
	position: relative;
    text-align: center;
    color: #e83f3f;

    width: 133px;
	height: 133px;
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		z-index: 10;
		cursor: pointer;
	}

    .icon-box-image {
        size: 49px 49px;
		padding-bottom: 10px;
    }

    span, span::before, span::after {
        transition: all 0.25s;
        position: relative;
    }

    $lineHeight: 2px;
    span {
        &::before {
            background-color: #e83f3f;
            height: $lineHeight;
            content: '';
            width: 40px;

            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;

            top: -$lineHeight;
        }
	}
	
	&:hover span::before {
	   top: calc(1em + #{$lineHeight} + 10px);
	}
}


@media only screen and (max-width: 900px) {
}


/* BUTTON STYLE */

.learn-compete-button {
    font-weight: bold;
    text-align: center;

    width: 210px;
    height: 61px;

    margin-top: 1em;

    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    background-color: #fafafa;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 1s;

    position: relative;
    a {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

    span { flex: 1; }
}

.learn-compete-button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

.fullblocks {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: row;
}

.code, .desc {
    flex: 1;
    height: 30vw;
    width: 0;
	display: flex;
}

.code {
    justify-content: stretch;
    align-items: stretch;
    pre {
        width: 100%;
        display: flex!important;
        justify-content: center;
        align-items: center;
	}
	code {
		background: transparent;
		font-size: inherit;
		color: inherit;
	}
}

.desc {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin-bottom: 30px;
    }
    color: rgb(231, 231, 231);
    background: rgb(56, 56, 56);
}

.learnbtn {
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #eee;
	border-radius: 2px;
	color: white;
    padding: 10px 15px;
    transition: 0.2s linear all;
    &:hover {
        background: #eee;
        color: rgb(56, 56, 56);
    }
}

.syntax {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
	.splash {
		width: 100%;
	}
	.tagline {
		padding: 0 20px;
		h1 {
			font-size: 48px;
		}
	}
	.startnow {
		padding: 15px 70px;
	}
	.code pre {
		padding: 12px!important;
		font-size: 14px!important;
	}
	.desc h1 {
		padding: 12px;
		text-align: center;
	}
	.code, .desc {
		height: 40vw;
	}
}

@media only screen and (max-width: 810px) {
	.code, .desc {
		height: auto;
		width: 100%;
	}
	.block:nth-child(2n) {
		flex-direction: column-reverse;
	}
	.block:nth-child(2n+1) {
		flex-direction: column;
	}
	.desc {
		margin-top: -100px;
		position: relative;
		box-shadow: 0 -10px 10px rgba(0,0,0,0.4);
		padding: 30px 0;
		z-index: 100;
		h1 {
			padding: 0;
		}
	}
	.code code {
		opacity: 0.85;
	}
	.tagline h1 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 500px) {
	.boxes {
		flex-direction: column;
	}
	.box {
		padding-bottom: 20px;
		border-bottom: 2px solid #eee;
	}
	.splash {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.code pre {
		padding: 12px 0!important;
		code {
			max-width: 100vw;
			overflow: hidden!important;
		}
	}
}