.profile-image {
	img {
		width: 200px;
		height: 200px;
	}
}

.profile-details {
	display: grid;
	grid-template-columns: 1fr;
	width: 320px;
}

.activity-chart {
	justify-content: stretch;
	align-items: center;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin-right: 20px;
	
	svg {
		display: block;
		width: 100%;
		text {
			font-size: 10px;
			fill: #c5c5c5;
			stroke: transparent
		}
		:global .color-empty {
			fill: #c6c6c6;
		}
		rect:hover {
			stroke: #555;
			stroke-width: 1px;
		}

		:global {
			.color-scale-1 { fill: #8cc665; }
			.color-scale-2 { fill: #44a340; }
			.color-scale-3 { fill: #1e6823; }
		}
	}
}
	


.grid {
	display: flex;
    justify-content: center;
	align-items: center;
	width: 960px;
    margin: 0 auto;
}

@media only screen and (max-width: 820px) {
	.grid {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 400px) {
	.profile-image {
		width: 100%;
	}
	.profile-details {
		width: 100%;
	}
}

:global {

.react-calendar-heatmap text {
	font-size: 10px;
	fill: #aaa;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
	font-size: 5px;
  }
  
  .react-calendar-heatmap rect:hover {
	stroke: #555;
	stroke-width: 1px;
  }
  
  /*
   * Default color scale
   */
  
  .react-calendar-heatmap .color-empty {
	fill: #eeeeee;
  }
  
  .react-calendar-heatmap .color-filled {
	fill: #8cc665;
  }
  
  /*
   * Github color scale
   */
  
  .react-calendar-heatmap .color-github-0 {
	fill: #eeeeee;
  }
  .react-calendar-heatmap .color-github-1 {
	fill: #d6e685;
  }
  .react-calendar-heatmap .color-github-2 {
	fill: #8cc665;
  }
  .react-calendar-heatmap .color-github-3 {
	fill: #44a340;
  }
  .react-calendar-heatmap .color-github-4 {
	fill: #1e6823;
  }
  
  /*
   * Gitlab color scale
   */
  
  .react-calendar-heatmap .color-gitlab-0 {
	fill: #ededed;
  }
  .react-calendar-heatmap .color-gitlab-1 {
	fill: #acd5f2;
  }
  .react-calendar-heatmap .color-gitlab-2 {
	fill: #7fa8d1;
  }
  .react-calendar-heatmap .color-gitlab-3 {
	fill: #49729b;
  }
  .react-calendar-heatmap .color-gitlab-4 {
	fill: #254e77;
  }
  
}