.grid {
	grid-template-columns: auto 1fr auto;
	//grid-template-rows: 1fr 1fr;
	//grid-gap: 20px;
	border-top: 1px solid #eee;
}

@media only screen and (max-width: 1152px) {
	.grid {
		grid-template-columns: 1fr;
	}
}