.dots {
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-top: 1px solid #eee;
}

.number {
	color: inherit;
    background: #6a6a6a;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
}

.dot {
	color: inherit;
    padding: 15px 10px;
	background: white;
	border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 20px;
    line-height: 27px;
}

.dot:last-child {
	border-bottom: 0;
}

.bold {
	background: #dddddd;
	font-weight: bold;
	a {
		color: black;
	}
	.number {
		background: black;
	}
}

.timeline {
	display: grid;
	position: relative;
	width: 300px;
	background: white;
	grid-template-rows: auto 1fr;
	&.hidden {
		width: auto;
		max-width: 300px;
		background: transparent;
		.dots, .controls h2 {
			display: none;
		}
	}
}