.grid {
  display: flex;
  flex-direction: column;
}

div.red {
  background: #e8eb3a;
}

.dashboard-tab {
  padding: 100px 20px;
}

.courses-tab {
  padding: 50px 60px;
}

.greeting-section {
  text-align: center;
  h1 {
    font-size: 4em;
    font-weight: bold;
  }
  .info {
    margin-top: 100px;
    font-size: 1.5rem;
    font-style: italic;
  }
  p {
    margin-top: 20px;
    font-weight: 100;
    //color: #eee;
    line-height: 30px;
  }
}

.things2do {
  padding: 50px; //-top: 40px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  position: relative;
}

.media {
  height: 0;
  padding-top: 56.25%;
  width: 100%;
}

.cardaction {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}

.cardcontent {
  flex-grow: 1;
}

.block-title {
  font-size: 26px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 12px;
  //color:
}

.block-list {
	display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  & > div {
	overflow: visible;
    margin: 2%;
    flex-basis: 16%;
    width: 207px;
  }
}

.block {
  cursor: pointer;
  color: #bebebe;
  background: #101010;
  box-shadow: 0 0 10px #0e0e0e;
  height: 200px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  overflow: hidden;
  .block-images {
    width: 150px;
    display: flex;
    flex-direction: row;
    .img {
      flex: 1;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 15px #101010;
      img {
        height: 200px;
        width: auto;
        max-width: 100em;
      }
    }
  }
  .block-details {
    text-align: left;
    flex-grow: 1;
    margin-left: 20px;
    overflow: hidden;
    h2 {
      font-size: 35px;
      margin-bottom: 20px;
      padding-bottom: 5px;
      border-bottom: 2px solid #eee;
      margin-right: 20px;
    }
    .tech-details {
      font-size: 15px;
      p {
        line-height: 25px;
      }
    }
  }
}

.grid {
  div[aria-hidden="true"] {
    height: 0 !important;
  }
}

.learning-heading {
  margin-top: 30px;
}

.random-recommendations {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex: 1;
	margin: 30px;
	overflow: visible;
  }
}

.ribbon {
	width: 140px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    z-index: 100;
    right: -10px;
    overflow: hidden;
  * {
	  max-width: 100em;
  }
  span {
	position: absolute;
    display: block;
    width: 225px;
    padding: 6px 0;
    background-color: #3498db;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
}
.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border-top-color: transparent;
  border-right-color: transparent;
  border: 5px solid #2980b9;
}

.ribbon::before {
	top: 0;
    left: 21px;
}

.ribbon::after {
	bottom: 11px;
    right: 0;
}

.practice {
	display: flex;
	flex-direction: column;
	padding: 50px 60px;
}

.practice-modules {
	display: flex;
	flex-direction: row;
	.card {
		overflow: visible;
		margin: 20px;
	}
}

.heading {
	margin-bottom: 20px;
}