.practice-ground * {
	max-width: 100em;
}

.practice-ground {
	display: flex;
	flex-direction: row;

	blockquote {
		background-color: #eee;
		color: #c7254e;
		padding: 10px;
		width: 100%;
		margin: 0;
		margin-bottom: 1.45rem;
		font-family: monospace;
		font-size: 16px;
	}
}

.center {
	width: 50%;
	float: left;
	display: flex;
	flex-direction: column;
}

.editor {
	flex-grow: 1;
}

.right {
	clear: right;
	width: 30%;
	border-left: 0;
	display: flex;
	flex-direction: column;
}

.right.js-only {
	// javascript only mode
	flex-direction: column-reverse;
	.preview {
		flex-grow: 0;
		min-height: 200px;
	}
	.challenges {
		flex-grow: 1;
	}
}

.left, .right {
    float: left;
    min-height: 1px;
    border: 3px solid #1f1f1f;
	//padding: 7px;
	max-height: calc(100vh - 70px); // header height = 70px
	overflow-y: auto;
}

.left {
	width: 20%;
    border-right: 0;
	p {
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0 10px;
	}
}

.left, .right, .center {
	h2 {
		background: #1f1f1f;
		color: white;
		text-align: center;
	}
}

:global {

	.iframe {
		width: 100%;
		background: white;
		flex-grow: 1;
		border: 0;
		border-bottom: 1px solid #000;
	}
	
	.iframe-header {
		background: black;
		color: white;
		padding: 10px 40px;
		position: relative;
	}
	
	.iframe-header:before {
		content: '\01F512';
		display: block;
		color: white;
		top: 50%;
		transform: translateY(-50%);
		left: 10px;
		position: absolute;
	}
	.rightiframe {    
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.preview {
	position: relative;
    min-height: 500px;
}

.challenges {
	margin: 10px;
}

.challenge {

    margin: 5px 0;
	padding: 10px;
	display: flex;
	flex-direction: row;
	background: #eee;
	
}

.status {
	font-weight: bold;
	display: block;
	margin-right: 10px;
}

.status[data-now="X"] {
	color: #1f1f1f;
}

.status[data-now="OK"] {
	color: rgb(9, 209, 9);
}

.instruction {
	display: block;
}

.next {
	margin-top: 20px;
    display: block;
    background: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
}

.preview {
	flex-grow: 1;
}

.turnFlex {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.turnGrid {
	flex-grow: 1;
}